@import "reset.less";
@import "impress.less";

body {
    background: #123456;
    border-top: 4px solid #DF775E;
    color: black;
    font-size: 160%;
    height:auto;
    line-height: 1.5;
    padding: 60px 40px;
}

body.demo {
	color:white;

    h1, input, label {color:white}
    label, input {font-size:1.2em; line-height:1.2em;}
    input {color:black;}
    section { width:100%;}
}

input {font-size:30px;}

a:link, a:visited, a:hover, a:active {color:#DF775E; text-shadow:none;}

